<div class="card chat-card">
    <div class="chat-header">
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle" alt="image">
        <div class="chat-text">
            <p class="chat-name">{{ receiver }}</p>
            <p class="chat-length">{{ typingStatus }}</p>
        </div>
        <span class="icon-right"><i class="fa fa-ellipsis-v"></i></span>
        <div class="side-menu">
            <ul>
                <li><i class="fa fa-user-circle"></i> View profile</li>
                <li><i class="fa fa-sign-out"></i> Sign Out</li>
                <!-- <li onClick={()=>{this.props.logout()}}><i class="fa fa-sign-out"></i>Log Out</li> -->
            </ul>
        </div>
    </div>
    <div class="chat-body">
        <div *ngFor="let message of roomMessages">
            <div class="chat-username">
                <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle" alt="">
                <p class="chat-message">{{ message.text }}</p>
            </div>
            <p class="chat-sender">{{ message.sender }}</p>
        </div>
    </div>
    <form (ngSubmit)="sendMessage(sendMessageForm)" [formGroup]="sendMessageForm">
        <div class="chat-footer">
            <input
                type="text"
                (input)="typingMessage($event)" 
                class="send-chat" 
                placeholder="Type your messsage...."
                name="message"
                formControlName="message"
                #clearInput
            >
            <span class="send-button" onClick="sendMessage()"><i class="fa fa-send"></i></span>
        </div>
    </form>
</div>