<div class="card chat-card">
    <div class="px-3 py-2 d-flex align-items-center">
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle userImage" alt="image">
        <p class="chat-name px-3">{{ receiverFullName }}</p>
        <span class="icon-position"><i mat-button class="fa fa-ellipsis-v" [matMenuTriggerFor]='sideMenu'></i></span>
        <mat-menu #sideMenu='matMenu'>
            <button mat-menu-item>View profile</button>
            <button mat-menu-item>Sign out</button>
        </mat-menu>
    </div>
    <div class="chat-body">
        <div *ngFor="let message of roomMessages">
            <div class="chat-username">
                <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle" alt="">
                <p class="chat-message">{{ message.text }}</p>
            </div>
            <p class="chat-sender">{{ message.sender }}</p>
        </div>
    </div>
    <form (ngSubmit)="sendMessage(sendMessageForm)" [formGroup]="sendMessageForm">
        <div class="chat-footer">
            <input
                type="text" 
                class="send-chat" 
                placeholder="Type your messsage...."
                name="message"
                formControlName="message"
                #clearInput
            >
            <span class="send-button" onClick="sendMessage()"><i class="fa fa-send"></i></span>
        </div>
    </form>
</div>