.chat-card {
  border-radius: 30px;
  background: rgba(73, 165, 191, 1);
}

.userImage {
  height: 100px;
  width: 100px;
}

.chat-name {
  font-family: "Roboto Mono", monospace;
  font-size: 23px;
  margin: 0px !important;
}

.icon-position {
  position: absolute;
  top: 40px;
  right: 35px;
  font-size: 30px;
  cursor: pointer;
}

.chat-body {
  min-height: 332px;
  max-height: 332px;
  overflow-y: auto;
  border-top: 1px solid black;
}

.chat-footer {
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.send-chat {
  border: none;
  width: 100%;
  padding: 15px 25px 15px 25px;
  border-radius: 26px;
  outline: none;
}

.send-button {
  position: absolute;
  bottom: 26px;
  right: 40px;
  font-size: 26px;
  cursor: pointer;
}

.msg-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  font-size: 15px;
}

.msg-time {
  position: absolute;
  left: 10px;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg-time-send {
  position: absolute;
  right: 10px;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
