.chat-header {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #eaeaea;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-text {
  margin-left: 5px;
}

.writing-status {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 0px;
}

.chat-body {
  min-height: 540px;
  max-height: 540px;
  overflow-y: auto;
  outline: none;
  border-bottom: 1px solid #eaeaea;
}

.message-avatar {
  padding: 9px 15px;
  height: 0%;
  background-color: red;
  border-radius: 3px;
  color: white;
}

.message-sender {
  font-size: 15px;
}

.message-time {
  font-size: 12px;
}

.message {
  padding: 5px 10px;
  border-radius: 4px;
}

.chat-footer {
  padding: 18px 15px 0px 15px;
}

.write-message {
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border-color: #eaeaea;
}

/*.userImage {
  height: 100px;
  width: 100px;
}

.chat-name {
  font-family: "Roboto Mono", monospace;
  font-size: 23px;
  margin: 0px !important;
}

.icon-position {
  position: absolute;
  top: 40px;
  right: 35px;
  font-size: 30px;
  cursor: pointer;
}

.chat-body {
  min-height: 332px;
  max-height: 332px;
  overflow-y: auto;
  border-top: 1px solid black;
}

.chat-footer {
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.send-chat {
  border: none;
  width: 100%;
  padding: 15px 25px 15px 25px;
  border-radius: 26px;
  outline: none;
}

.send-button {
  position: absolute;
  bottom: 26px;
  right: 40px;
  font-size: 26px;
  cursor: pointer;
}

.msg-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  font-size: 15px;
}

.msg-time {
  position: absolute;
  left: 10px;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg-time-send {
  position: absolute;
  right: 10px;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
} */
