<h1 mat-dialog-title class="text-center">Create group</h1>
<div mat-dialog-content>
  <form [formGroup]="groupForm" (ngSubmit)="login(loginForm)">
    <mat-form-field appearance="outline" class='w-100'>
      <mat-label>Group name</mat-label>
      <input
        matInput
        placeholder="Type group name"
        formControlName="groupName"
        name="groupName"
      >
      <mat-error *ngIf="groupForm.get('groupName').hasError('required')">Group name is required</mat-error>
    </mat-form-field>
    <span>Select group members</span>
    <div *ngFor="let user of userList" class="d-flex align-items-center justify-content-between">
      <div class="py-2">
        <img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded-circle" alt="" />
        <span class=ml-3>{{ user.username }}</span>
      </div>
        <mat-checkbox 
          [checked]="allChecked"
          (change)="setUserCheckbox($event.checked, user._id)"
          formControlName="userChecked"
          name="userChecked"
        ></mat-checkbox>
    </div>
  </form>
  <div class="d-flex justify-content-end">
    <button mat-raised-button color="primary" (click)="create()">Create</button>
    <button mat-raised-button color="warn" class="ml-2" (click)="close()">Cancel</button>
  </div>
</div>