.mat-dialog-container {
  padding: 0px !important;
}

.group-heading {
  font-size: 18px;
}

.upload-file {
  padding: 16px 12px;
  border: 1px solid #dddada;
  border-radius: 4px;
  color: grey;
}

.cursor-pointer {
  cursor: pointer;
}

.upload-file:hover {
  border: 2px solid black;
}
