<nav class="navbar navbar-expand-sm bg-info">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainDiv">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="#">Welcome {{ currentUser }}</a> 
            <a class="nav-item nav-link" href="#">Home</a>
            <a class="nav-item nav-link" href="#">Create Group</a>
            <a class="nav-item nav-link" href="#">Setting</a>
            <p class="nav-item nav-link" (click)="logoutUser()">Log out</p>
        </div>
    </div>
</nav>