.signup-card {
  border-radius: 15px;
  box-shadow: 0px 0px 11px 4px rgba(179, 175, 179, 1);
}

.w-30 {
  width: 30% !important;
}

.signup-title {
  padding: 5px 25px 0px;
  font-family: "Germania One", cursive;
  font-size: 4vw;
}
