<div class="mt-5">
    <div class="card signup-card w-30 mx-auto">
        <p class="signup-title text-center font-weight-bold mb-0">Smart Chat</p>
        <div class="row">
            <div class="col-md-12">
                <form class="mx-4 my-3" [formGroup]="signupForm" (ngSubmit)="submit(signupForm)">
                    <h6 class="text-danger" *ngIf="signupError">{{'*' + signupError }}</h6>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>First name</mat-label>
                        <input
                            matInput
                            placeholder="Type your first name"
                            formControlName="firstName"
                            name="firstName"
                            size="small"
                        >
                        <mat-error *ngIf="signupForm.get('firstName').hasError('required')">First name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Last name</mat-label>
                        <input
                            matInput
                            placeholder="Type your last name"
                            formControlName="lastName"
                            name="lastName"
                        >
                        <mat-error *ngIf="signupForm.get('lastName').hasError('required')">Last name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Username</mat-label>
                        <input
                            matInput
                            placeholder="Type your username"
                            formControlName="username"
                            name="username"
                        >
                        <mat-error *ngIf="signupForm.get('username').hasError('required')">Username is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Password</mat-label>
                        <input
                            matInput
                            type="password"
                            placeholder="Type your password"
                            formControlName="password"
                            name="password"
                        >
                        <mat-error *ngIf="signupForm.get('password').hasError('required')">Password is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Confirm Password</mat-label>
                        <input
                            matInput
                            type="password"
                            placeholder="Type your Confirm password"
                            formControlName="confirmpassword"
                            name="confirmpassword"
                        >
                        <mat-error *ngIf="signupForm.get('confirmpassword').hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="signupForm.get('confirmpassword').hasError('mustMatch')">Password does not matched</mat-error>
                    </mat-form-field>
                    <div class="d-flex justify-content-center">
                        <button mat-raised-button color="primary" class="mb-4">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>