.group-heading {
  font-size: 18px;
}

.mat-dialog-container {
  padding: 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.userlist-body {
  height: 500px;
  overflow-y: scroll;
}

.user-box {
  border: 1px solid #e1e0e0;
  border-radius: 6px;
  background-color: white;
  /* box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75); */
}

.user-image {
  height: 45px;
  width: 45px;
}
