<div class="container">
   <div class="heading">
      <p>Sign Up</p>
      <button type="submit">Login</button>
   </div>
   <form>
      <div class="body">
         <div id="formDiv">
            <br>
            <label>Username</label>
            <input type="text" placeholder="Enter Username" id="username_text"><br>
            <label>Email</label><br>
            <input type="text" placeholder="Enter Email ID" id="email_text"><br>
            <label>Password</label><br>
            <input type="password" placeholder="Enter password" id="password_text"><br>
            <label>Confirm Password</label><br>
            <input type="password" placeholder="Re Enter password" id="re_password_text"><br>
         </div>
      </div>
      <div class="footer">
         <button type="submit" id="submit_btn">Submit</button>
         <button type="submit" id="forget_pass_btn">ForgetPassword</button>
      </div>
   </form>
</div>
