<div class="login-container">
    <div class="card login-card">
        <p class="login-title">Smart Chat</p>
        <div class="row">
            <div class="col-md-12">
                <form class="form-container" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
                    <span class="red-error" *ngIf="loginError">{{'*' + loginError }}</span>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input
                            matInput
                            placeholder="Type your username"
                            formControlName="username"
                            name="username"
                        >
                        <mat-error *ngIf="loginForm.get('username').hasError('required')">Username is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                            matInput
                            type="password"
                            placeholder="Type your password"
                            formControlName="password"
                            name="password"
                        >
                        <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary">Login</button>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-between form-container mb-3">
            <a routerLink="/signup"><button mat-raised-button color="primary" class="mr-2">Sign Up with Email</button></a>
            <button mat-raised-button color="primary">Sign Up with Google</button>
        </div>
    </div>
</div>