.login-container{
    padding: 6em 0em 0em 0em;
}

.login-card{
    width: 30vw;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 11px 4px rgba(179,175,179,1);
}

.login-title{
    text-align: center;
    font-weight: bold;
    padding:5px 25px 0px;
    font-family: 'Germania One', cursive;
    font-size:4vw;
    margin-bottom : 0px !important;
}

.form-container{
    padding: 10px 30px;
}

.form-container > * {
    width: 100%;
}

.red-error{
    font-size: 14px;
    color: red;
}