/* .container{
   width:300px;
   margin: 0 auto;
   margin-top:200px;

}
input[type="text"], input[type="password"]{
   width:100%;
   padding: 12px;
   font-size:15px;
   border-radius:24px;
   margin:5px 0 22px 0;
   border: 1px solid black;
}
 button{
   background-color:#4CAF50;
   color:white;
   padding:10px 20px;
   border:none;
   cursor: pointer;
   font-size: 20px;
   display: block;
   margin: 0 auto;
}
.Center{
   margin-bottom: 20px;
}
.heading{
   text-align:center;
}
.text-center{
   text-align: center;
} */
