<div *ngIf = "loginError">{{ loginErrorText }}</div>
<div class="container">
   <form [formGroup]="loginForm" (ngSubmit)="loginSubmit($event)">
      <h1 class="heading">Login</h1>
      <input type="text" formControlName="loginUsername" placeholder="Enter your username" id="loginUsernameID">
      <input type="password" formControlName="loginPassword" placeholder="Enter your password" id="loginPasswordID">
      <button type="submit">Login</button>
      <p class="text-center">No Acccount !!!<a href="/signup">Signup</a></p>
   </form>
</div>
